# Requirements, taken from jupyterlite/demo
# last change: 09 apr 2024, fixes again a ipywidget issue
# Core modules (mandatory)
jupyterlite-core==0.3.0
jupyterlab~=4.1.6

# Python kernel
jupyterlite-pyodide-kernel==0.3.1

# Language support (optional)
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

# JupyterLab: dark theme
jupyterlab-night

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.1,<9
# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.8.2
